In [1]:
import numpy as np
import pandas as pd

In [9]:
cdf_sapp_customer_df = pd.read_json('cdw_sapp_custmer.json', lines=True)
cdf_sapp_credit_df = pd.read_json('cdw_sapp_credit.json', lines=True)
cdf_sapp_branch_df = pd.read_json('cdw_sapp_branch.json', lines=True)

In [6]:
cdf_sapp_customer_df.head()

,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SSN,CREDIT_CARD_NO,APT_NO,STREET_NAME,CUST_CITY,CUST_STATE,CUST_COUNTRY,CUST_ZIP,CUST_PHONE,CUST_EMAIL,LAST_UPDATED
0,Alec,Wm,Hooper,123456100,4210653310061055,656,Main Street North,Natchez,MS,United States,39120,1237818,AHooper@example.com,2018-04-21T12:49:02.000-04:00
1,Etta,Brendan,Holman,123453023,4210653310102868,829,Redwood Drive,Wethersfield,CT,United States,6109,1238933,EHolman@example.com,2018-04-21T12:49:02.000-04:00
2,Wilber,Ezequiel,Dunham,123454487,4210653310116272,683,12th Street East,Huntley,IL,United States,60142,1243018,WDunham@example.com,2018-04-21T12:49:02.000-04:00
3,Eugenio,Trina,Hardy,123459758,4210653310195948,253,Country Club Road,NewBerlin,WI,United States,53151,1243215,EHardy@example.com,2018-04-21T12:49:02.000-04:00
4,Wilfred,May,Ayers,123454431,4210653310356919,301,Madison Street,ElPaso,TX,United States,79930,1242074,WAyers@example.com,2018-04-21T12:49:02.000-04:00